@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --line-color: #e5e7eb;
}

.my-v-element span {
  visibility: visible !important;
}

.my-v-element div {
  visibility: visible !important;
}

.my-v-element p {
  visibility: visible !important;
}

@media (width >= 1170px) {
  .vertical-timeline-element-date {
    padding-inline: 1rem !important;
  }
}
